* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "GothamPro-regular", sans-serif;
  color: #000000;
  background-color: #f5b900;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: block;
  font-family: "GothamPro-Bold";
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
  font-family: "GothamPro-Bold";
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

/* --------------- */

/* Global Style */

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 85.375rem;
  max-width: 100%;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 78.75rem;
  width: 100%;
  padding: 0 0.625rem;
  margin: 0 auto;
}

.p-all {
  padding: 70px 0;
}

.image-bg {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.btn-more {
  position: relative;
  top: 0;
  color: #fff;
  background-color: #e52529;
  font-size: 1.125rem;
  border-radius: 2.1875rem;
  padding: 1.1875rem 1.625rem;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-more:hover {
  -webkit-box-shadow: 0 2px 5px 0 gray;
          box-shadow: 0 2px 5px 0 gray;
  border: 1px solid black;
}

.btn-more:active {
  top: 1px;
}

.btn-more-secondary {
  color: #fff;
  background-color: #e52529;
  font-size: 1rem;
  line-height: 1.2px;
  border-radius: 35px;
  padding: 1.25rem 2.5rem;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 3.125rem;
}

.btn-more-secondary:hover {
  -webkit-box-shadow: 0 2px 5px 0 gray;
          box-shadow: 0 2px 5px 0 gray;
  border: 1px solid black;
}

.btn-details {
  color: #fff;
  background-color: #e52529;
  font-size: 1.125rem;
  line-height: 1.2px;
  border-radius: 2.1875rem;
  padding: 1.3125rem 3.125rem;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-details:hover {
  -webkit-box-shadow: 0 2px 5px 0 gray;
          box-shadow: 0 2px 5px 0 gray;
  border: 1px solid black;
}

.btn-see {
  font-size: 1rem;
  color: #000000;
  background-color: #fce500;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  border-radius: 35px;
  padding: 1.1875rem 3rem;
}

.btn-see:hover {
  -webkit-box-shadow: 0 2px 5px 0 gray;
          box-shadow: 0 2px 5px 0 gray;
}

.icon__container {
  display: block;
  line-height: 0;
}

.index__anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.index__anim-dots {
  width: 190px;
  height: 36px;
}

.index__anim-dots:nth-of-type(1) {
  -webkit-animation: dotAnim1 1s ease infinite normal;
          animation: dotAnim1 1s ease infinite normal;
}

.index__anim-dots:nth-of-type(2) {
  -webkit-animation: dotAnim2 1.2s ease infinite normal;
          animation: dotAnim2 1.2s ease infinite normal;
}

.index__anim-dots:nth-of-type(3) {
  -webkit-animation: dotAnim3 1.4s ease infinite normal;
          animation: dotAnim3 1.4s ease infinite normal;
}

@-webkit-keyframes dotAnim1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dotAnim1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dotAnim2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dotAnim2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dotAnim3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dotAnim3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title__heading {
  font-family: 'GothamPro-Bold';
  font-size: 2.375rem;
  color: #fff;
  margin-bottom: 2.5rem;
  padding-top: 2.0625rem;
}

.categories__title {
  font-family: 'GothamPro-Bold';
  position: relative;
  color: #e52529;
  font-size: 28px;
  margin-bottom: 50px;
}

.categories__title::before {
  content: '';
  position: absolute;
  width: 215px;
  height: 3px;
  bottom: -20px;
  left: 0;
  background-color: #e52529;
}

.products__title {
  font-family: 'GothamPro-Bold';
  position: relative;
  color: #e52529;
  font-size: 28px;
  margin-bottom: 50px;
}

.products__title::before {
  content: '';
  position: absolute;
  width: 194px;
  height: 3px;
  bottom: -20px;
  left: 0;
  background-color: #e52529;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaRoundRegular";
  font-display: swap;
  src: url("../fonts/FuturaRoundRegular.woff") format("woff"), url("../fonts/FuturaRoundRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaRoundBold";
  font-display: swap;
  src: url("../fonts/FuturaRoundBold.woff") format("woff"), url("../fonts/FuturaRoundBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro-Light";
  font-display: swap;
  src: url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro-regular";
  font-display: swap;
  src: url("../fonts/GothamPro-regular.woff") format("woff"), url("../fonts/GothamPro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro-Black";
  font-display: swap;
  src: url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro-Medium";
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro-Bold";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fce500;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.625rem;
}

.header__inner p {
  display: none;
}

.header__logotype {
  width: 4.8125rem;
  height: 4.8125rem;
}

.header__logotype a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/header/maket__logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header__search {
  width: 1.4375rem;
  height: 1.4375rem;
}

.header__search img {
  display: block;
  max-width: 100%;
}

.menu {
  margin-left: 15.375rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:first-child) {
  margin-left: 1.875rem;
}

.menu__item-link {
  font-size: 14px;
  font-family: 'GothamPro-Bold';
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
}

.menu__item-link:hover {
  background-color: #e52529;
  color: #fff;
  border-radius: 1rem;
}

.menu__item-link--active {
  background-color: #e52529;
  color: #fff;
  border-radius: 1rem;
}

.header__burger {
  display: none;
}

.sale {
  background-image: url(../img/sale/sale-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2.625rem;
  padding-top: 1.875rem;
  background-color: #00ACE9;
}

.sale__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}

.sale__inner.active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.sale__image {
  width: 34.6875rem;
  min-height: 16.6875rem;
  position: relative;
}

.sale__image-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sale__content {
  width: 43.75rem;
  padding: 1.875rem 2.6875rem 1.4375rem 1.875rem;
  background-color: #fff;
}

.sale__content p {
  font-family: 'GothamPro-Light';
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 2.5rem;
}

.sale__content-title {
  font-family: 'GothamPro-Medium';
  font-size: 1.3125rem;
  margin-bottom: 1.25rem;
}

.sale__content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale__date-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.9375rem;
  height: 2.9375rem;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
}

.sale__date-icon svg {
  width: 27px;
  height: 100%;
}

.sale__period {
  margin: auto 0 auto .9375em;
}

.sale__period-title {
  font-family: 'GothamPro-Medium';
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.sale__period-reys {
  font-size: 0.75rem;
  line-height: 0.6875rem;
}

.sale__btn-see {
  max-width: 13.125rem;
  margin: 0 auto;
}

.form {
  max-width: 44.4375rem;
  margin: 0 auto;
  color: #000000;
  padding: 2.9375rem 3rem 2.4375rem 2.5rem;
  background-color: #fff;
  border-radius: 0.3125rem;
}

.form__main {
  padding: 4.0625rem 0 5.375rem 0;
  background-image: url(../img/form/form-bg.png);
}

.form__title {
  color: #fff;
  font-family: 'GothamPro-Bold';
  font-size: 2.5rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__inner-title {
  text-align: center;
  font-family: 'GothamPro-Medium';
  font-size: 1.3125rem;
  margin-bottom: 1.625rem;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../ZKZx.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__item {
  margin-bottom: 1.25rem;
}

.form__item--w100 {
  width: 100%;
}

.form__label {
  font-size: 1.125rem;
  display: block;
  margin-bottom: 0.625rem;
}

.form__input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 0 0.9375rem;
  border-radius: 0.3125rem;
  border: 1px solid #e0e0e0;
}

.form__button {
  position: relative;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.9375rem 4.6875rem;
  min-height: 44px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  background-color: #e52529;
  border-radius: 2.1875rem;
  margin-right: 1.875rem;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #131413;
          box-shadow: 0 2px 0 #131413;
}

textarea.form__input {
  min-height: 100px;
  resize: none;
  padding: 1.25rem;
}

.options {
  padding: 0.625rem 0 0 0;
}

.options__item {
  margin-bottom: 0.625rem;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label:before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.options__label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid #e0e0e0;
}

.file__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.file__label {
  text-decoration: underline;
  font-size: 11px;
  opacity: 0.7;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 12px;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.file__button img {
  max-width: 100%;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__input {
  width: 21px;
  height: 21px;
  border: 1px solid #cfcfcf;
  margin-right: 14px;
}

.checkbox__label {
  font-size: 11px;
  line-height: 16px;
}

.checkbox__label a {
  color: #7a956b;
}

.sm-mar {
  margin-right: 1rem;
}

.form__kapcha {
  width: 280px;
  height: 60px;
}

.last__inner {
  margin-top: 43px;
}

.products {
  background-image: url(../img/products/products-bg.png);
  padding-top: 3.9375rem;
  padding-bottom: 4.5625rem;
}

.products__title-p {
  color: #fff;
  font-size: 2.4375rem;
  margin-bottom: 2.4375rem;
}

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.products__cards {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-bottom: 2.1875rem;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url(../img/preloader/preloader-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.preloader__circle {
  width: 282px;
  height: 282px;
  border: 10px solid #FBB800;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  -webkit-animation: circle 2s ease infinite;
          animation: circle 2s ease infinite;
}

.preloader__circle span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 166px;
  height: 166px;
  background-color: transparent;
  border: 10px solid #fbb800;
  border-radius: 50%;
  -webkit-animation: circle 2s ease-in-out infinite;
          animation: circle 2s ease-in-out infinite;
}

.preloader__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 74px;
  height: 74px;
  background-color: #fbb800;
  border-radius: 50%;
}

@-webkit-keyframes circle {
  from {
    -webkit-box-shadow: 0 0 0 0px #fbb800;
            box-shadow: 0 0 0 0px #fbb800;
  }

  to {
    -webkit-box-shadow: 0 0 0 10px #fbb800;
            box-shadow: 0 0 0 10px #fbb800;
  }
}

@keyframes circle {
  from {
    -webkit-box-shadow: 0 0 0 0px #fbb800;
            box-shadow: 0 0 0 0px #fbb800;
  }

  to {
    -webkit-box-shadow: 0 0 0 10px #fbb800;
            box-shadow: 0 0 0 10px #fbb800;
  }
}

.about {
  background-image: url(../img/philosophiya/philosophiya-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__inner {
  padding-top: 1.875rem;
  padding-bottom: 3.75rem;
}

.philosophiya__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.philosophiya__image {
  width: 44.875rem;
}

.philosophiya__content {
  width: 32.8125rem;
  padding: 0.875rem 2.5rem 4.1875rem 2.3125rem;
  background-color: #fff;
}

.philosophiya__content p {
  font-size: 1rem;
}

.philosophiya__title {
  color: #e52529;
  font-size: 1.75rem;
  line-height: 1.875rem;
  position: relative;
  padding-bottom: 1.25rem;
  margin-bottom: 1.375rem;
}

.philosophiya__title::before {
  content: '';
  position: absolute;
  width: 194px;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #e52529;
}

.philosophiya__text {
  line-height: 1.625rem;
}

.philosophiya__text:nth-of-type(1) {
  margin-bottom: 1.25rem;
}

.progress__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.progress__item {
  width: 38.125rem;
  min-height: 10.0625rem;
  background-color: #fff;
  margin-bottom: 1.0625rem;
}

.progress__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0px 0px 0px 2.5rem;
}

.progress__body-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.progress__body-img img {
  width: 100%;
}

.progress__body-text {
  font-size: 1rem;
}

.notFound {
  background-image: url(../img/404/404-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3.75rem;
}

.notFound__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.notFound__content {
  max-width: 29rem;
}

.notFound__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.625rem;
}

.notFound__number img {
  width: 7.125rem;
}

.notFound__number span {
  font-family: 'GothamPro-Bold';
  color: #fff;
  font-size: 14.9375rem;
}

.notFound__text {
  color: #fff;
}

.notFound__text p:nth-child(1) {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

.notFound__text p:nth-child(2) {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

.notFound__text p:nth-child(4) {
  font-size: 0.75rem;
  margin-bottom: 3.5rem;
}

.notFound__btn {
  color: #fff;
  background-color: #e52529;
  margin-bottom: 5.375rem;
  border-radius: 2.1875rem;
  padding: 1.125rem 4.125rem;
}

.categories {
  background-image: url(../img/global-products/global-products-bg.png);
  padding-bottom: 67px;
}

.categories__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__inner-content-preview.hidden {
  display: none;
}

.categories__inner-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.categories__image {
  width: 1079px;
  padding-top: 42.096%;
}

.categories__desription {
  padding: 47px 46px 28px 44px;
  width: 656px;
  background-color: #fff;
  color: black;
}

.categories__text {
  line-height: 24px;
  margin-bottom: 100px;
}

.categories__cards {
  padding-right: 10px;
  padding-left: 10px;
}

.categories__packing {
  margin-bottom: 16px;
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.breadcrumbs__inner-link--underline {
  font-size: 39px;
  color: #fff;
}

.breadcrumbs__inner-link--underline::after {
  content: '';
  width: 194px;
  height: 5px;
  color: #fff;
}

.breadcrumbs__inner-link--slash {
  font-size: 20px;
  color: #fff;
}

.breadcrumbs__inner-link--slash::before {
  content: '/';
  display: inline-block;
  color: #fce500;
}

.gallery {
  position: relative;
}

.gallery__inner {
  height: 34.375rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gallery__carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.gallery__controls {
  position: absolute;
  bottom: 50px;
  left: 90px;
}

.swiper-button-prev.gallery__prev {
  left: -45px;
}

.swiper-button-next.gallery__next {
  right: -45px;
}

.swiper-button-next.gallery__next:after,
.swiper-button-prev.gallery__prev:after {
  font-size: 0px;
}

.swiper-button-next.gallery__next,
.swiper-button-prev.gallery__prev {
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #F9EC13;
}

.swiper-button-next.gallery__next:after {
  background-image: url(../img/gallery-banners/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.swiper-button-prev.gallery__prev:after {
  background-image: url(../img/gallery-banners/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info__container {
  padding: 8.375rem 3.9375rem;
  background-color: #e52529;
  position: relative;
  background: #e52529 url(../img/info/bg-info.png) no-repeat center/cover;
}

.info__chips {
  position: absolute;
  top: 11%;
  right: 0;
}

.info__chips img {
  max-width: 100%;
}

.info__onion {
  position: absolute;
  top: 16%;
  left: 0;
  z-index: 1;
}

.info__onion img {
  max-width: 100%;
}

.info__onion--last {
  position: absolute;
  bottom: 15%;
  right: 0;
}

.info__onion--last img {
  max-width: 100%;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__video {
  width: 48.5rem;
  position: relative;
}

.info__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 79px;
  height: 57px;
  background-color: transparent;
  opacity: 0.9;
  cursor: pointer;
}

.info__content {
  padding: 2.5rem 2.5rem 9.375rem 2.5rem;
  width: 29rem;
  background-color: #fff;
}

.info__content-title {
  font-family: 'GothamPro-Bold';
  position: relative;
  color: #e52529;
  font-size: 1.75rem;
  margin-bottom: 3.125rem;
}

.info__content-title::before {
  content: '';
  position: absolute;
  width: 194px;
  height: 3px;
  bottom: -20px;
  left: 0;
  background-color: #e52529;
}

.info__content-subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.8125rem;
}

.info__content-subtitle span {
  font-family: 'GothamPro-Medium';
}

.cards {
  padding: 6.75rem 0rem 8.75rem 13.5625rem;
  background-image: url(../img/cards-block/cards__bg.png);
}

.cards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18.4375rem;
  padding-bottom: 0.625rem;
  cursor: pointer;
}

.cards__image {
  position: relative;
  width: 100%;
  padding-top: 118%;
  overflow: hidden;
}

.cards__image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1.125rem 3.5rem 1.875rem 1.0625rem;
}

.cards__content p {
  font-family: 'GothamPro-Black';
  font-size: 1.875rem;
  color: #fff;
  margin-bottom: 2rem;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cards__content-title {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.6875rem;
  text-transform: uppercase;
}

.cards__content-title sup {
  font-size: 0.6875rem;
}

.cards__title-hidden {
  font-family: 'GothamPro-Black';
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}

.cards__title-hidden sup {
  font-size: 0.875rem;
}

.cards__slide {
  width: auto;
}

@media (max-width: 992px) {
  .info__veget-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 1.3125rem;
  }

  .p-all {
    padding: 40px 0;
  }

  .header {
    padding: 0.5rem 0rem;
  }

  .header__inner {
    height: 3.625rem;
  }

  .header__logotype {
    width: 4.0625rem;
    height: 4.0625rem;
  }

  .header__search {
    display: none;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    margin-left: 0;
  }

  .menu__item-link {
    line-height: 6.25rem;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #FCE500;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    margin-left: 0;
  }

  .menu.active {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 33px;
    right: 20px;
    width: 42px;
    height: 20px;
    z-index: 1000;
  }

  .header__burger span {
    top: 11px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3.5px;
    background-color: #e52529;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header__burger span:first-child {
    top: 0px;
  }

  .header__burger span:last-child {
    top: auto;
    bottom: -5px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active span:first-child {
    -webkit-transform: rotate(-42deg);
        -ms-transform: rotate(-42deg);
            transform: rotate(-42deg);
    top: 11px;
  }

  .header__burger.active span:last-child {
    -webkit-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
            transform: rotate(42deg);
    bottom: 7px;
  }

  .sale {
    background-image: none;
  }

  .sale__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sale__image {
    width: 21rem;
    min-height: 10.6875rem;
  }

  .sale__content {
    width: 21rem;
  }
}